<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Item</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1><%=item.title%></h1>
    <ul>
      <li><%=item.category%></li>
    </ul>
    <ul>
      <li><%=item.description%></li>
    </ul>
    <ul>
      <li>Start Price: $<%=item.start_price%></li>
    </ul>
    <ul>
      <li>Reserve Price: $<%=item.reserve_price%></li>
    </ul>
    <button
      onclick="window.location.href='/search/results?searchWord=<%= searchWord %>'"
    >
      Back to Search Results
    </button>
  </body>
</html>
