<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Item</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="container">
      <h1><%=item.title%></h1>
      <ul class="item-details">
        <li>Category: <%=item.category%></li>
        <li><%=item.description%></li>
        <li>Start Price: $<%=item.start_price%></li>
        <li>Reserve Price: $<%=item.reserve_price%></li>
      </ul>
      <button
        onclick="window.location.href='/search/results?searchWord=<%= searchWord %>'"
      >
        Back to Search Results
      </button>
    </div>
  </body>
</html>


